html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}

.bb {
  margin: 0;
  padding: 0;
  font-size: 80%;
}
.IDXPHX {
  background-color: Lavender ;
}
.C98PHX, .C99PHX , .C100PHX, .C101PHX, .C102PHX {
  background-color: PaleGreen;
}
.P98PHX, .P99PHX , .P100PHX, .P101PHX, .P102PHX {
  background-color: AntiqueWhite ;
}
.title {
  font-size: 100%;
}
.K { background-color: lavender}
.M { background-color: thistle}
.N { background-color: gainsboro}
.Q { background-color: lightyellow}
.U { background-color: moccasin}
.V { background-color: khaki}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}
.circle {
  cursor:pointer;
}


.num {
  text-align: center;
  color: blue;
}
.minus {
  color: red;
}

.label {
  color: blue;
  text-align:right;
  padding-right: 5px;
}

.pos.num, .pnl_pos.num {
  font-weight: bold;
}

.price, .fines, .vega, .pos, .pri, .delta_pos, .pnl_pos, .price_pos {
  background-color: DarkGray;
}
.hist.vega {
  background-color: white;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
